@use "../../Foundation/foundation.scss" as foundation;

body {
  font-family: 'Lato', sans-serif;
  color: foundation.$charcole-grey;
  font-size: 14px;
}

#root {
  >.lato-text {
    text-align: center;
  }
}
